 .hero {
  height: 90vh;
  background: url('https://plus.unsplash.com/premium_photo-1661962927450-d5f7c9267ca2?w=1200') no-repeat center center/cover;
  color: white;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.about-section {
  background: url('https://plus.unsplash.com/premium_photo-1683140516842-74c378a43d76?w=1200') center center/cover no-repeat;
  position: relative;
  padding: 80px 0;
}

.share-section {
  background: url('https://plus.unsplash.com/premium_photo-1738416571378-46793a101767?w=1200') center center/cover no-repeat;
  position: relative;
  padding: 80px 0;
}

.how-it-works-section {
  background: url('https://images.unsplash.com/photo-1653750365234-c1c10a5bf1b4?w=1200') center center/cover no-repeat;
  position: relative;
  padding: 80px 0;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.section-title,
.section-text {
  color: white;
}

.card,
.step-box {
  background: white;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease;
}

.card:hover,
.step-box:hover {
  transform: translateY(-5px);
} 