
.navbar {
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 0.6rem 1.2rem;
}

.navbar-brand {
  color: #ff4f81 !important;
  font-weight: bold;
  letter-spacing: 0.5px;
  transition: 0.3s ease;
}

.navbar-brand:hover {
  color: #ff884b !important;
}


.nav-link {
  color: #444444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #ff4f81 !important;
}


.btn {
  background: linear-gradient(to right, #ff4f81, #ff884b);
  border: none;
  color: #ffffff;
  font-weight: 500;
  padding: 6px 14px;
  border-radius: 6px;
  transition: background 0.3s ease;
}

.btn:hover {
  background: linear-gradient(to right, #ff884b, #ff4f81);
}

@media (max-width: 991px) {
  .navbar-center {
    display: none !important;
  }
}
